.btn {
    background-color: rgb(152,216,233);
    border: none;
    border-radius: 7px;
    color: rgb(41, 44, 53);
    font-weight: 700;
    cursor: pointer;
    width: 110px;
    height: 45px;
    font-size: 35px;
}

.btn:disabled {
    opacity: .3;
    cursor: unset;
}

.btn:not([disabled]):active {
    opacity: .7;
}
